:host ::ng-deep {
    /* Target the select button wrapper */
    .p-selectbutton .p-button {
        border-radius: 20px; /* Make the buttons rounder */
        padding: 0.4rem 0.5rem; 
        font-size: 0.8rem;
        height: auto; 
        min-width: 60px;
    }

    .p-selectbutton .p-button.p-highlight {
        background-color: rgb(161 161 170); /* Custom highlight color for the selected button */
        color: white; /* White text color for the selected button */
    }

    /* Style for non-selected buttons */
    .p-selectbutton .p-button:not(.p-highlight) {
        background-color: #f1f1f1;
        color: #333;
        border-color: #ccc;
    }
}
.sub-rule-field {
    display: flex;
}
.range-inputs > div, .single-input {
    display: flex;
    flex-direction: column; 
    margin-right: 20px; 
}
  
.range-inputs {
    display: flex;
    flex-direction: row;
}
