:host ::ng-deep {
    .p-card {
        margin-right: 100px;
    } 
    /* Target the select button wrapper */
    .p-selectbutton .p-button {
        border-radius: 20px; /* Make the buttons rounder */
        padding: 0.4rem 1rem; /* Smaller padding for smaller buttons */
        font-size: 0.8rem; /* Smaller text size */
        height: auto; /* Adjust height */
        min-width: 60px; /* Set a minimum width */
    }

    .p-selectbutton .p-button.p-highlight {
        background-color: #007ad9; /* Custom highlight color for the selected button */
        color: white; /* White text color for the selected button */
    }

    /* Style for non-selected buttons */
    .p-selectbutton .p-button:not(.p-highlight) {
        background-color: #f1f1f1;
        color: #333;
        border-color: #ccc;
    }
}
.rule-form {
    margin: 50px 0px 0px 400px
}
.sub-rule-field {
    display: flex;
}
.range-inputs > div, .single-input {
    display: flex;
    flex-direction: column; /* Aligns the label on top of the input */
    margin-right: 20px; /* Adds spacing between the range inputs */
}
  
.range-inputs {
    display: flex;
    flex-direction: row; /* Positions the range inputs side by side */
}
